<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<!-- Hamburger logo -->
<link rel="shortcut icon" href="assets/hamburger_icon.ico" />
<object th:include="/fragments/header"></object>

    <!-- Title -->
    <title>Privacy</title>
  </head>
<body>
<div th:include="/fragments/navbar"></div>


    <!-- Restaurant name -->
    <div class="jumbotron-fluid text-center">
      <h1 class="animated fadeInDown outline2" id="FHamburger"> Flying Hamburgers! </h1>
    </div>
    
    
    <h4 class="centeredStuff">There is no privacy. The squirrels see all.</h4>
    
    
    <img class="centeredSquirrel" src="/SquirrelEating.gif">
     
    
    <!-- Montra -->
    <div class="jumbotron-fluid text-center">
      <h3 class="animated fadeInDown" id="montra"> Live to sauce. Sauce to live. </h3>
    </div>

    <!-- Footer --> 
	<div th:include="/fragments/footer"></div> 
  </body>
</html>